@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 75px 0;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

h1,
h2 {
  font-family: 'Dancing Script', cursive;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container h2 {
  position: relative;
  margin-bottom: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.heading_container h2 span {
  color: #ffbe33;
}

.heading_container p {
  margin-top: 10px;
  margin-bottom: 0;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*header section*/
.area_heroica {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.caja-fondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.caja-fondo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sub_page .area_heroica {
  min-height: auto;
}

.sub_page .area_heroica .caja-fondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sub_page .area_heroica .caja-fondo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right top;
     object-position: right top;
}

.seccion_encabezado {
  padding: 15px 0;
}

.seccion_encabezado .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.navbar-brand {
  font-family: 'Dancing Script', cursive;
}

.navbar-brand span {
  font-weight: bold;
  font-size: 32px;
  color: #f60808;
}

.contenedor_nav_personalizado {
  padding: 0;
}

.contenedor_nav_personalizado .navbar-nav {
  padding-left: 18%;
}

.contenedor_nav_personalizado .navbar-nav .nav-item .nav-link {
  padding: 5px 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contenedor_nav_personalizado .navbar-nav .nav-item:hover .nav-link, .contenedor_nav_personalizado .navbar-nav .nav-item.active .nav-link {
  color: #ff0000;
}

.contenedor_nav_personalizado .nav_search-btn {
  width: auto;
  height: auto;
  padding: 0;
  border: none;
  color: #ffffff;
  margin: 0 10px;
}

.contenedor_nav_personalizado .nav_search-btn:hover {
  color: #ff0000;
}

.user_option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user_option a {
  margin: 0 10px;
}

.user_option .user_link {
  color: #ffffff;
}

.user_option .user_link:hover {
  color: #ff0000;
}

.user_option .cart_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user_option .cart_link svg {
  width: 17px;
  height: auto;
  fill: #ffffff;
  margin-bottom: 2px;
}

.user_option .cart_link:hover svg {
  fill: #ff0000;
}

.user_option .orden_enlinea {
  display: inline-block;
  padding: 8px 30px;
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.user_option .orden_enlinea:hover {
  background-color: #ff0000;
}

.contenedor_nav_personalizado .navbar-toggler {
  outline: none;
}

.contenedor_nav_personalizado .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contenedor_nav_personalizado .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #ffffff;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s;
}

.contenedor_nav_personalizado .navbar-toggler span::before, .contenedor_nav_personalizado .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contenedor_nav_personalizado .navbar-toggler span::after {
  top: 10px;
}

.contenedor_nav_personalizado .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.contenedor_nav_personalizado .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.contenedor_nav_personalizado .navbar-toggler[aria-expanded="true"] span::before, .contenedor_nav_personalizado .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

/*end header section*/
/* slider section */
.seccion_deslizante {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 45px 0 75px 0;
}

.seccion_deslizante .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seccion_deslizante #customCarousel1 {
  width: 100%;
  position: unset;
}

.seccion_deslizante .caja_detalle {
  color: #ffffff;
  margin-bottom: 145px;
}

.seccion_deslizante .caja_detalle h1 {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.seccion_deslizante .caja_detalle p {
  font-size: 14px;
}

.seccion_deslizante .caja_detalle a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin-top: 10px;
}

.seccion_deslizante .caja_detalle a:hover {
  background-color: #ff0000;
}

.seccion_deslizante .caja_img img {
  width: 100%;
}

.seccion_deslizante .carousel-indicators {
  position: unset;
  margin: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seccion_deslizante .carousel-indicators li {
  background-color: #ffffff;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  opacity: 1;
}

.seccion_deslizante .carousel-indicators li.active {
  width: 20px;
  height: 20px;
  background-color: #ff0000;
}

.seccion_oferta {
  position: relative;
  padding-top: 45px;
}

.seccion_oferta .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 45px;
  border-radius: 5px;
  padding: 20px 15px;
  background-color: #222831;
  color: #ffffff;
}

.seccion_oferta .box .caja_img {
  width: 175px;
  min-width: 175px;
  height: 175px;
  margin-right: 15px;
  position: relative;
  -webkit-transition: all 0.1 0.5s;
  transition: all 0.1 0.5s;
  border-radius: 100%;
  border: 5px solid #ff0000;
  overflow: hidden;
}

.seccion_oferta .box .caja_img img {
  width: 100%;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.seccion_oferta .box .caja_detalle h5 {
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
  margin: 0;
}

.seccion_oferta .box .caja_detalle h6 {
  font-family: 'Dancing Script', cursive;
  margin: 10px 0;
}

.seccion_oferta .box .caja_detalle h6 span {
  font-size: 2.5rem;
  font-weight: bold;
}

.seccion_oferta .box .caja_detalle a {
  display: inline-block;
  padding: 10px 30px;
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.seccion_oferta .box .caja_detalle a:hover {
  background-color: #ff0000;
}

.seccion_oferta .box .caja_detalle a svg {
  width: 20px;
  height: auto;
  margin-left: 5px;
  fill: #ffffff;
}

.seccion_oferta .box:hover .caja_img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.seccion_comida .menu_filtro {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  margin: 45px 0 20px 0;
}

.seccion_comida .menu_filtro li {
  padding: 7px 25px;
  cursor: pointer;
  border-radius: 25px;
}

.seccion_comida .menu_filtro li.active {
  background-color: #ff0000;
  color: #ffffff;
}

.seccion_comida .box {
  position: relative;
  margin-top: 25px;
  background-color: #ffffff;
  border-radius: 10px;
  color: #ffffff;
  border-radius: 15px;
  overflow: hidden;
  background: linear-gradient(to bottom, #f1f2f3 25px, #222831 25px);
}

.seccion_comida .box .caja_img {
  background: #f1f2f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 215px;
  border-radius: 0 0 0 45px;
  margin: -1px;
  padding: 25px;
}

.seccion_comida .box .caja_img img {
  max-width: 100%;
  max-height: 145px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.seccion_comida .box .caja_detalle {
  padding: 25px;
}

.seccion_comida .box .caja_detalle h5 {
  font-weight: 600;
}

.seccion_comida .box .caja_detalle p {
  font-size: 15px;
}

.seccion_comida .box .caja_detalle h6 {
  margin-top: 10px;
}

.seccion_comida .box .opciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.seccion_comida .box .opciones a {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #ff0000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seccion_comida .box .opciones a svg {
  width: 18px;
  height: auto;
  fill: #ffffff;
}

.seccion_comida .box:hover .caja_img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.seccion_comida .caja-boton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.seccion_comida .caja-boton a {
  display: inline-block;
  padding: 10px 55px;
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.seccion_comida .caja-boton a:hover {
  background-color: #ff0000;
}

.seccion_sobre {
  background: #222831;
  color: #ffffff;
}

.seccion_sobre .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seccion_sobre .caja_img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.seccion_sobre .caja_img img {
  width: 100%;
  max-width: 445px;
  position: relative;
  z-index: 2;
}

.seccion_sobre .caja_detalle p {
  margin-top: 15px;
}

.seccion_sobre .caja_detalle a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin-top: 15px;
}

.seccion_sobre .caja_detalle a:hover {
  background-color: #ff0000;
}

.seccion_ordenar {
  position: relative;
}

.seccion_ordenar .heading_container {
  margin-bottom: 25px;
}

.seccion_ordenar .contenedor_formulario .form-control {
  width: 100%;
  border: none;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 25px;
  border: 1px solid #999;
  outline: none;
  color: #000000;
  border-radius: 5px;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.seccion_ordenar .contenedor_formulario .form-control::-webkit-input-placeholder {
  color: #222222;
}

.seccion_ordenar .contenedor_formulario .form-control:-ms-input-placeholder {
  color: #222222;
}

.seccion_ordenar .contenedor_formulario .form-control::-ms-input-placeholder {
  color: #222222;
}

.seccion_ordenar .contenedor_formulario .form-control::placeholder {
  color: #222222;
}

.seccion_ordenar .contenedor_formulario .nice-select .current {
  font-size: 16px;
}

.seccion_ordenar .contenedor_formulario button {
  margin-top: 15px;
  border: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 55px;
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.seccion_ordenar .contenedor_formulario button:hover {
  background-color: #ff0000;
}


/* client section start */
.seccion_cliente .contenedor_titulo {
  margin-bottom: 30px;
}

.seccion_cliente .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px;
}

.seccion_cliente .box .caja_img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 115px;
  position: relative;
  margin-top: 30px;
}

.seccion_cliente .box .caja_img img {
  border-radius: 100%;
  border: 5px solid #ff0000;
  position: relative;
}

.seccion_cliente .box .caja_img::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 20px;
  height: 20px;
  background-color: #ff0000;
  -webkit-transform: rotate(45deg) translateX(-50%);
          transform: rotate(45deg) translateX(-50%);
}

.seccion_cliente .box .caja_detalle {
  background-color: #222831;
  color: #ffffff;
  padding: 25px 25px 15px 25px;
  border-radius: 5px;
}

.seccion_cliente .box .caja_detalle h6 {
  font-weight: 600;
  font-size: 18px;
  margin: 15px 0 5px 0;
}

.seccion_cliente .box .caja_detalle p {
  margin-bottom: 0;
  font-size: 15px;
  margin-bottom: 10px;
}

.seccion_cliente .owl-carousel .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
  padding: 0 15px;
}

.seccion_cliente .owl-carousel .owl-nav .owl-prev,
.seccion_cliente .owl-carousel .owl-nav .owl-next {
  width: 45px;
  height: 45px;
  background-color: #ff0000;
  color: #ffffff;
  outline: none;
  bottom: 0px;
  font-size: 24px;
  margin: 0 5px;
  border-radius: 100%;
}

/* client section end */
.contact_section .heading_container {
  margin-bottom: 45px;
}

.contact_section .contenedor_formulario .form-group {
  margin-bottom: 25px;
}

.contact_section .contenedor_formulario input {
  width: 100%;
  border: none;
  height: 50px;
  padding-left: 25px;
  background-color: transparent;
  border: 1px solid #ccc;
  outline: none;
  color: #000000;
  border-radius: 5px;
}

.contact_section .contenedor_formulario input::-webkit-input-placeholder {
  color: #222222;
}

.contact_section .contenedor_formulario input:-ms-input-placeholder {
  color: #222222;
}

.contact_section .contenedor_formulario input::-ms-input-placeholder {
  color: #222222;
}

.contact_section .contenedor_formulario input::placeholder {
  color: #222222;
}

.contact_section .contenedor_formulario input.message-box {
  height: 120px;
  border-radius: 5px;
}

.contact_section .contenedor_formulario .caja-boton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact_section .contenedor_formulario button {
  margin-top: 10px;
  border: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 55px;
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 0px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.contact_section .contenedor_formulario button:hover {
  background-color: #ff0000;
}

/* footer section*/
.seccion_pie {
  background-color: #222831;
  color: #ffffff;
  padding: 75px 0 40px 0;
  text-align: center;
}

.seccion_pie h4 {
  font-size: 28px;
}

.seccion_pie h4,
.seccion_pie .pie_logo {
  font-weight: 600;
  margin-bottom: 20px;
  font-family: 'Dancing Script', cursive;
}

.seccion_pie p {
  color: #dbdbdb;
}

.seccion_pie .footer-col {
  margin-bottom: 30px;
}

.seccion_pie .contacto_pie .contact_link_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.seccion_pie .contacto_pie .contact_link_box a {
  margin: 5px 0;
  color: #ffffff;
}

.seccion_pie .contacto_pie .contact_link_box a i {
  margin-right: 5px;
}

.seccion_pie .contacto_pie .contact_link_box a:hover {
  color: #ff0000;
}

.seccion_pie .pie_logo {
  display: block;
  font-weight: bold;
  font-size: 38px;
  line-height: 1;
  color: #ffffff;
}

.seccion_pie .redes_pie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.seccion_pie .redes_pie a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222831;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #ffffff;
  border-radius: 100%;
  margin: 0 2.5px;
  font-size: 18px;
}

.seccion_pie .redes_pie a:hover {
  color: #ff0000;
}

.seccion_pie .informacion_pie {
  text-align: center;
  margin-top: 25px;
}

.seccion_pie .informacion_pie p {
  color: #ffffff;
  margin: 0;
}

.seccion_pie .informacion_pie p a {
  color: inherit;
}
/*# sourceMappingURL=style.css.map */